<h1><%= t('questions.ask_your_question') %></h1>

<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :content %>

  <%= f.submit t('questions.ask_question') %>
<% end %>
