<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', [:destroy, :user, :session], data: { 'turbo-method': :delete } %></li>
        <% else %>
          <li><%= link_to 'Sign in', [:new, :user, :session] %></li>
          <li><%= link_to 'Sign up', [:new, :user, :registration] %></li>
        <% end %>
      </ul>
    </nav>


    <%= yield %>
  </body>
</html>
